:global .propTypeDescription {

  table {
    font-size: 14px;
  }

  table tr:nth-child(2n) {
    background-color: #fff;
  }

  table td, table th {
    vertical-align: top;
    font-size: 14px;
    min-width: 20%;
  }

  table th {
    font-weight: normal;
    white-space: nowrap;
  }

  table td + td {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  table td + td + td + td {
    color: rgba(51, 51, 51, 0.9);
    font-family: inherit;
  }

}

:global .propTypeDescription .markdown-body {
  padding: 0 !important
}
