.ToggleOption {

  all: initial;
  font-family: 'Roboto', sans-serif;
  @mixin middle;
  font-size: 13px;
  display: block;
  text-align: center;
  padding: 0 15px;
  user-select: none;
  white-space: nowrap;
  cursor: inherit;
  color: inherit;

  &.is-selected {

  }

  &:active {

  }

  &:hover {

  }

  &--size-small {
    height: 35px;
  }

  &--size-medium {
    height: 45px;
    padding: 0 25px;
  }

  &__icon {
    display: inline-block;
    margin-right: 10px;
  }

}
