{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "useBuiltIns": false
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-optimize-clsx",
    ["@babel/plugin-proposal-object-rest-spread", {"loose": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-transform-react-constant-elements"
  ],
  "env": {
    "cjs": {
      "plugins": [
        ["transform-react-remove-prop-types", {"mode": "wrap"}]
      ]
    },
    "es": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": "last 2 versions"
          },
          "modules": false,
          "useBuiltIns": false
        }]
      ],
      "plugins": [
        ["transform-react-remove-prop-types", {"mode": "wrap"}]
      ]
    },
    "docs": {
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "preval"
      ]
    },
    "test": {
      "plugins": [
        "babel-plugin-istanbul"
      ]
    }
  }
}
