{
  "presets": [
    ["env", {
      "target": {
        "browsers": "last 2 versions"
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-react-constant-elements",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions",
    "preval"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-inline-environment-variables", {
          "include": [
            "VERSION"
          ]
        }]
      ]
    }
  }
}
