{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "useBuiltIns": false
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    "preval"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {
          "mode": "wrap",
          "removeImport": false
        }]
      ]
    },
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
