.Button {
  $ns: &;

  &_theme {
    &_blue {
      background: $colors-blue;
      color: $colors-white;
    }
    &_dark {
      background: $colors-dark;
      color: $colors-white;
    }
    &_red {
      background: $colors-red;
      color: $colors-white;
    }
  }

  &_size {
    &_small {
      $(ns)__icon { margin-left: 10px; }
    }
    &_medium {
      $(ns)__icon { margin-left: 15px; }
    }
    &_large {
      $(ns)__icon { margin-left: 20px; }
    }
  }

}
