.Wrapper {
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.Header {
  padding: 15px;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  position: relative;
  &__title {

  }
  &__tabs {
    position: absolute;
    right: 15px;
    top: 0;
  }
  &__tab {
    cursor: pointer;
    display: inline-block;
    padding: 15px 15px 13px;
    border-bottom: 2px solid transparent;
    position: relative;
    top: 1px;
    &.is-active {
      color: $colors-blue;
      border-color: $colors-blue;
    }
  }
}

.Body {

}

.Code {
  padding: 15px;
  &__pre {

  }
}

.Preview {
  border-top: 1px solid #ddd;
  padding: 15px;
  &__error {
    color: red;
  }
}

:global .CodeMirror {
  height: auto !important;
}

