.Wrapper {
  border: 1px solid #eee;
  margin-bottom: 26px;
}

.Header {
  display: flex;
  padding: 0 20px;

  &__title {
    align-self: center;
    margin-right: auto;
    letter-spacing: .2px;
    color: $colors-cloudGray;
  }

  &__tabs {
    margin-right: -6px;
  }

  &__tab {
    cursor: pointer;
    display: inline-block;
    padding: 16px 6px 14px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin-bottom: -1px;

    & + & {
      margin-left: 11px;
    }

    &:hover, &:focus {
      color: $colors-blue;
    }

    &_active {
      color: $colors-blue;
      border-color: $colors-blue;
    }
  }
}

.Body {}

.Code {
  padding: 15px;
  border-top: 1px solid #eee;
  overflow: auto;
  font-family: Menlo, Monaco, Courier New, Courier, monospace;

  &__pre {
    margin: 4px 4px 20px;
    font-family: inherit;
  }
}

.Preview {
  padding: 15px;
  overflow: auto;
  border-top: 1px solid #eee;

  &__error {
    color: red;
  }
}

:global .CodeMirror {
  height: auto !important;
  font-family: inherit !important;
}
