.Layout {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-width: 100%;
  &__content {
    flex: 1;
    overflow-y: auto;
  }
  &__left {
    min-width: 200px;
    display: flex;
  }
  &__right {
    flex: 1 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}

.Menu {
  display: flex;
  background: #fff;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,.07);
  position: relative;
  z-index: 1;
  &__item {
    display: inline-block;
    color: $colors-dark;
    padding: 15px 0 13px;
    margin: 0 15px -1px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    font-weight: 400;
    &.is-active {
      border-color: $colors-blue;
      color: $colors-blue;
    }
  }
  &__version {
    position: absolute;
    right: 15px;
    top: 14px;
  }
}
