@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic);
@import 'normalize.css';

html, body {
  height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  max-height: 100%;
  max-width: 100%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
}

.App {
  display: flex;
  flex: 1;
  max-width: 100%;
}

:global #root {
  display: flex;
  flex: 1;
  max-width: 100%;
}

:global a {
  &, &:visited, &:active {
    text-decoration: none;
    color: $colors-blue;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.87);
}
