.Content {

}

.ComponentWrapper {

  &:not(:first-child) {
    border-top: 1px solid #dde0e8;
    margin-top: 40px;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    margin: 18px 0;
  }

  &__link {
    @mixin link inherit, $colors-blue;
    margin-right: auto;
  }

  &__title {
    margin: 0;
  }

  &__sourceLink {
    display: inline-block;
    margin-top: 4px;
    line-height: 20px;
  }

  &__content {}
}

.ChildrenLinks {

  &__list {}
}
