.Content {

}

.ComponentWrapper {

  &:not(:first-child) {
    border-top: 1px solid #eee;
    margin-top: 20px;
  }

  &__header {
    padding: 0 0 10px;
    margin: 20px 15px 0;
    border-bottom: 1px solid #eee;
    position: relative;
  }

  &__title {
    margin: 0;
  }

  &__content {
    padding: 15px;
  }

  &__link {

  }

  &__sourceLink {
    position: absolute;
    display: inline-block;
    z-index: 1;
    top: 0px;
    right: 0px;
    line-height: 20px;
  }

}

.ChildrenLinks {

  &__list {

  }

}
