.SideMenu {
  background: #333;
  flex: 1;
  overflow-y: auto;
}

.List {
  padding-top: 10px;
  padding-bottom: 10px;

  &[data-level='1'] { margin-left: 15px; }
  &[data-level='2'] { margin-left: 30px; }
  &[data-level='3'] { margin-left: 45px; }
  &[data-level='4'] { margin-left: 60px; }
  &[data-level='5'] { margin-left: 75px; }

  &[data-level='0'] > &__item:not(:last-child) {
    // border-bottom: 1px solid #444;
  }

  &[data-level='0'] > &__item {
    padding: 10px 15px;
  }

  &__link {
    @mixin link #bbb, #eee;
    display: block;
    font-size: 14px;
    font-weight: 300;
    &.is-active {
     @mixin link #f2f2f2, #f2f2f2;
     cursor: default;
    }
  }

  &:not([data-level='0']) &__link {
    margin-top: 8px;
  }

  &__embed {

  }

}
