.SideMenu {
  padding: 50px calc(100% * 46 / 300) 20px calc(100% * 44 / 300);
  flex-grow: 1;
}

.List {

  &__item {
    padding: calc(100% * 11 / 195) 0;
  }

  &[data-level='1'] &__item {
    padding: calc(100% * 7 / 195) 0;
  }

  &__link {
    @mixin link $colors-cloudGray, #fff;
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;

    &.is-active {
     @mixin link #fff, #fff;
     cursor: default;
    }
  }

  &[data-level='1'] &__link {
    @mixin link #9ea8c0, #fff;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .1px;

    &.is-active {
      @mixin link #fff, #fff;
    }
  }

  &[data-level='1'] > &__item &__link {
    margin-left: calc(100% * 20 / 195);
  }

  &[data-level='2'] > &__item &__link {
    margin-left: calc(100% * 35 / 195);
  }

  &[data-level='3'] > &__item &__link {
    margin-left: calc(100% * 50 / 195);
  }

  &[data-level='4'] > &__item &__link {
    margin-left: calc(100% * 65 / 195);
  }

  &[data-level='5'] > &__item &__link {
    margin-left: calc(100% * 80 / 195);
  }

  &__embed {
    margin-top: calc(100% * 7 / 195);
  }
}
