@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic);

:root {
  --font-roboto {
    font-family: 'Roboto';
  }
}

@define-mixin middle {
  &:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
    width: 0;
  }
  & > * {
    vertical-align: middle;
  }
}

@define-mixin border $color {
  box-shadow: inset 0px 0px 0px 1px $color;
}
