@keyframes animateDot {
  20% {
    transform: scale(1)
  }
  40% {
    transform: scale(1) translate3d(0, 5px, 0);
  }
  100% {
    transform: scale(1)  translate3d(0, 0, 0)
  }
}


@define-mixin theme-button $theme,
$default-bg,
$default-border,
$default-text,
$hover-border,
$hover-bg,
$active-border,
$active-bg,
$focus-border,
$focus-bg,
$loading-border,
$loading-dot,
$disabled-border,
$disabled-bg,
$disabled-text,
$focus-offset, {

  &--theme-$theme {
    color: $default-text !important;
    background: $default-bg;
    box-shadow: inset 0px 0px 0px 1px $default-border;

    &:focus:not(:active) {
      background: $focus-bg !important;
      &:before {
        top: -$focus-offset;
        bottom: -$focus-offset;
        left: -$focus-offset;
        right: -$focus-offset;
        box-shadow: inset 0px 0px 0px 1px $focus-border;
      }
    }
    &:hover:not(:active) {
      background: $hover-bg !important;
      box-shadow: inset 0px 0px 0px 1px $hover-border !important;
    }
    &:active {
      background: $active-bg;
      box-shadow: inset 0px 0px 0px 1px $active-border !important;
    }
    &[disabled] {
      color: $disabled-text !important;
      box-shadow: inset 0px 0px 0px 1px $disabled-border;
      background: $disabled-bg;
    }
  }

  &--theme-$theme &__loaderDot {
    background: $loading-dot;
  }
}


.Button {
  all: initial;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  display: inline-block;
  border: none;
  user-select: none;

  &, * {
    transition: all .2s;
  }

  &.is-loading, &[disabled] {
    pointer-events: none;
  }

  &.is-loading &__content {
    opacity: 0;
  }

  &:focus:before {
    content: '';
    display: block;
    position: absolute;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--size-medium &__content {
    height: 45px;
    line-height: 45px;
  }

  &--size-small &__content {
    height: 35px;
    line-height: 35px;
  }

  &__content {
    padding: 0 20px;
  }

  &__loader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    text-align: center;
    &:before {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      content: '';
      width: 0;
    }
  }

  &__loaderDot {
    display: inline-block;
    vertical-align: middle;
    height: 5px;
    width: 5px;
    position: relative;
    top: -2px;
    border-radius: 50%;
    transition: transform .6s ease-out;
    transform: translate3d(0, 0, 0);

    animation: animateDot .6s ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    &:nth-child(2){
      margin: 0 4px;
    }

    &:nth-child(1){
      animation-delay: 0s;
    }

    &:nth-child(2){
      animation-delay: .08s;
    }

    &:nth-child(3){
      animation-delay: .16s;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    cursor: pointer;
  }

  @mixin theme-button blue,
    #315efb,
    #315efb,
    #fff,
    #3059DD,
    #3059DD,
    #2A4FC5,
    #2A4FC5,
    #3264fb,
    #1660e0,
    #315efb,
    #fff,
    #315efb,
    #315efb,
    rgba(255, 255, 255, .4),
    3px;

  @mixin theme-button white,
    #fff,
    #ccc,
    #262626,
    #262626,
    #fff,
    #ccc,
    #eee,
    #315efb,
    #fff,
    #ccc,
    #315efb,
    #eee,
    #eee,
    rgba(38, 38, 38, .4),
    0px;

  @mixin theme-button lightBlue,
    #eaefff,
    #eaefff,
    #315efb,
    transparent,
    rgba(49, 94, 251, .2),
    transparent,
    rgba(49, 94, 251, .3),
    #649dff,
    #eaefff,
    #eaefff,
    #315efb,
    #eaefff,
    #eaefff,
    rgba(49, 94, 251, .4),
    0px;

}

