.Breadcrumbs {
  padding: 15px 2px 14px;
  border-bottom: 1px solid #dde0e8;
  color: $colors-cloudGray;
  font-size: 12px;

  a&__item {
    @mixin link $colors-cloudGray, $colors-carbone;
  }

  &__divider {
    display: inline-block;
    margin: 0 5px;
  }
}
